<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns: th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin html</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{/styles/default.css}" rel="stylesheet"/>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script type="module" th:src="@{/js/defaultMain.js}"></script>
</head>
<body>
<div id="wrapper">
    <div class="hello"> Admin template</div>
    <div class="card">
        <div class="card-body" th:text="${user}">
        </div>
    </div>
    <div class="hello"> All users</div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First name</th>
            <th scope="col">Second name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${allUsersMap}">
            <th scope="row" th:text="${entry.key}"></th>
            <td th:text="${entry.value.getFirstName}"></td>
            <td th:text="${entry.value.getSecondName}"></td>
        </tr>
        </tbody>
    </table>
    <div class="hello"> All doctors</div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Patients</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${allDoctorsMap}">
            <th scope="row" th:text="${entry.key}"></th>
            <td th:text="${entry.value.getPatients}"></td>
        </tr>
        </tbody>
    </table>
    <div class="hello"> All patients</div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Doctors</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${allPatientsMap}">
            <th scope="row" th:text="${entry.key}"></th>
            <td th:text="${entry.value.getDoctors}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>