.container {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.invalidUsernamePassword {
    color: red;
}
.card {
    background-color: lightcyan;
}